{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Elizabeth Johnson’s & Jeff Marion’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<div id="map" data-map="jmarion.o746jmno"></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Wedding</span>
        <span class="ann-primary">May 28, 2016</span>
        <span class="ann-secondary">Menlo Park, CA</span>
    </h1>

    <p style="text-align: center">
        Details coming soon.
    </p>
</div>
