{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Elizabeth Johnson’s & Jeff Marion’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<!-- <div id="map" data-map="jmarion.o746jmno"></div> -->

<!-- <div class="l-wrap"> -->
<br /><br />

    <h1 class="ann">
        <span class="ann-secondary">Wedding</span>
        <span class="ann-primary">May 28, 2016</span>
        <span class="ann-secondary">Menlo Park, CA</span>
    </h1>

	<div style="max-width: 500px; margin: 0 auto; text-align: center">
		<div>
			<h2>Venue</h2>

			<p><a href="http://www.alliedartsguild.org/">Allied Arts Guild</a></p>
			<p><a href="https://goo.gl/maps/2NSxfvskVVv" style="">75 Arbor Rd, Menlo Park, CA 94025</a></p>
			
			<p>With two small parking lots at the site of the event, some guests may need to use the available street parking within the neighborhood.</p>

			<img src="http://www.alliedartsguild.org/IMAGES/00097.jpg" /><br />
			<p style="font-style: italic; font-size: 0.9em">Allied Arts Guild is a Spanish Colonial Complex with beautiful spanish inspired gardens located within a residential neighboorhood in Menlo Park close to the Stanford Shopping Center. Elizabeth spent her childhood Easters meeting the Easter Bunny here with her great-grandmother.</p>
		</div>

		<br />

		<div>
			<h2>Wedding Schedule</h2>

			<p>Guests should plan to arrive between 4:30 and 4:50 for a ceremony that begins promptly at 5pm.</p>
			
			<p>5pm - Ceremony.</p>

			<p>Drinks, Dinner, and Dancing.</p>

			<p>9pm - Jeff and Elizabeth say their goodbyes.</p>

			<br /><br /><br /><br />
		</div>
	</div>

<!-- </div> -->
