{{setPageTitle "Weekend"}}
{{setActiveNav "weekend"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Elizabeth Johnson’s & Jeff Marion’s wedding weekend."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<br /><br />

    <h1 class="ann">
        <span class="ann-secondary">Wedding Weekend</span>
        <span class="ann-primary">May 27-29</span>
    </h1>

	<div style="max-width: 500px; margin: 0 auto; text-align: center">
		<div>
			<h2>Friday, May 27</h2>

			<p>4:30 - 7:30pm &mdash; Wedding Rehearsal Picnic</p>
			<p><a href="https://goo.gl/maps/cQuYaqqYjfK2">Foothills Park Oak Grove Picnic Area<br />3300 Page Mill Rd, Los Altos Hills, CA 94022</a></p>

			<p>Jeff and Elizabeth would like to extend an invitation to any wedding guests in town to join them for a casual post rehearsal dinner and social at the Foothills Park Oak Grove Picnic Area.</p>

			<p>We would love our friends and family to meet up with us for a fun afternoon of dinner, drinks, and board games before the wedding.</p>

			<p>Foothills Park has been a longtime family favorite, but it was made even more meaningful when Jeff proposed to Elizabeth at Foothills Park on a hike last year.</p>

			<p>Join us for drinks and a casual dinner.</p>
		</div>
	
		<br />
	
		<div>
			<h2>Saturday, May 28</h2>

			<p><a href="/wedding">Day of the wedding!</a></p>
		</div>

		<br />

		<div>
			<h2>Sunday, May 29</h2>

			<p>10am &mdash; Brunch</p>
			<p><a href="https://goo.gl/maps/UXSAqsTAUDC2">Larry &amp; Vicky's House<br />4078 Laguna Way, Palo Alto, CA 94306</a></p>

			<p>Elizabeth's parent will be hosting a brunch at their house the morning after the wedding.</p>

			<p></p>
		</div>
	</div>

<!-- </div> -->
